
 <div>
  <h4>Add or Update Student</h4>
    <label>Name</label>
    <input [(ngModel)]="stu.name"><br>
    
    <label >Age</label>
    <input [(ngModel)]="stu.age"><br>
    
    <label >Class</label>
    <input [(ngModel)]="stu.class">
    
    <br>
    <button  (click)="addStudent()">Add Student</button>
    <button (click)="updateStudent()">Update Student</button>
  
  </div>
  
<hr>
    <table>
      <thead>
        <tr>
        
          <th>Name</th>
          <th>Class</th>
          <th>Age</th>
          <th>Update</th>
          <th>Delete</th>
       
        </tr>

      </thead>

      <tbody>
        <tr *ngFor="let stu1 of student; let i = index"> 
        
          <td>{{stu1.name}}</td>
          <td>{{stu1.class}}</td>
          <td>{{stu1.age}}</td>
          <td><span  (click) = "editStudent(stu1, i)" >EDIT</span> </td>

          <td ><span (click) = "deleteStudent(stu1)" >DELETE</span></td>

        </tr>
      </tbody>
      </table>

